<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <uses-feature android:name="android.hardware.camera.any" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.CAMERA" -->
    <!-- tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

    <application
        android:name=".NumaBoaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.NumaBoaTerapia"
        tools:targetApi="31">
        <activity
            android:name=".appNavigation.psychologist.views.PatientRecord"
            android:exported="false" />
        <activity
            android:name=".appNavigation.psychologist.views.AddPatientToListActivity"
            android:exported="false" />
        <activity
            android:name=".appNavigation.psychologist.views.PsiPatientsList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.psychologist.views.ProfileAccesses"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.pacient.views.PsiProfileInformation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.pacient.views.PacientPsiListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.views.PreviewPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".appNavigation.pacient.fragments.PacientPsiList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.psychologist.views.EditPsiBiography"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.psychologist.views.EditSpecialtiesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.psychologist.views.MyProfilePsiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.psychologist.views.EditMyDataPsiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.psychologist.views.PsiMyDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.pacient.views.MyDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.pacient.views.ShareDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.pacient.views.HistoricActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.pacient.views.RegisterEmotionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.pacient.views.EmocionalDiaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.pacient.views.PacientApp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appNavigation.psychologist.views.PsiHome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.psychologist.view.CreateMercadoPagoUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.psychologist.view.SelectSignature"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.psychologist.view.PsiBiography"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.psychologist.view.ActivityPsiSpecialties"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.psychologist.view.ActivityPsiServiceAgeRange"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.psychologist.view.ActivityPsiRegistration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.pacient.view.ActivityAverageIncome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.pacient.view.ActivityFinancialSituation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.pacient.view.ActivityCivilStatus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.pacient.view.ActivityPatientConsultationReason"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.pacient.view.PatientRegistrationData"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.userType.view.UserType"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.view.PasswordRecoveryMessage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.view.ForgetPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.view.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>